<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewControllers</key>
	<dict>
		<key>MenuViewControllers</key>
		<string>Nested</string>
	</dict>
	<key>Preferences</key>
	<dict>
		<key>Parse</key>
		<dict>
			<key>applicationId</key>
			<string>sSS9VgN9K2sU3ycxzwQlwrBZPFlEe7OvSNZQDjQe</string>
			<key>clientKey</key>
			<string>KnJBjybsVgiVDye7pD5YfpyHNOjelIQADFMK447w</string>
		</dict>
		<key>BaseUrl</key>
		<string>http://coffeetogo.u-app.doubleb-automation-production.appspot.com/</string>
		<key>ApplicationType</key>
		<string>Aggregator</string>
		<key>CompanyColor</key>
		<integer>4293962270</integer>
		<key>CompanyGAKey</key>
		<string>UA-65821587-48</string>
	</dict>
</dict>
</plist>
