<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppConfiguration</key>
	<dict>
		<key>MenuPositionIconsContentMode</key>
		<string>Default</string>
		<key>MenuCategoryIconsContentMode</key>
		<string>Default</string>
	</dict>
	<key>Preferences</key>
	<dict>
		<key>BaseUrl</key>
		<string>http://rolltime.1.doubleb-automation-production.appspot.com/</string>
		<key>CompanyColor</key>
		<string>#DB2D27</string>
		<key>CompanyGAKey</key>
		<string>UA-57935469-27</string>
		<key>Parse</key>
		<dict>
			<key>applicationId</key>
			<string>K7A5luYunGPr1YG6LHL1pgeyf37KHNF3ciu3BZ2X</string>
			<key>clientKey</key>
			<string>3l0nm6f4ycOAWhLKwjktpriDMoEARecxE5bExN2z</string>
		</dict>
	</dict>
	<key>ViewControllers</key>
	<dict>
		<key>MenuViewControllers</key>
		<string>Mixed</string>
	</dict>
</dict>
</plist>
