<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Parse</key>
	<dict>
		<key>applicationId</key>
		<string>ub5EOJeYGYNgaXtobu2QmlrRHB58D4cLMbKYEVOF</string>
		<key>clientKey</key>
		<string>DoVDTYuQzW0H8Pg9tbfAp4ZHO3ypVQJKd6Za4bvv</string>
	</dict>
	<key>CompanyGAKey</key>
	<string>UA-62529990-39</string>
	<key>CompanyColor</key>
	<integer>4279789118</integer>
	<key>BaseUrl</key>
	<string>http://coffeeshopcompany.1.doubleb-automation-production.appspot.com/</string>
</dict>
</plist>
