<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppConfiguration</key>
	<dict>
		<key>MenuPositionIconsContentMode</key>
		<string>Fit</string>
		<key>MenuCategoryIconsContentMode</key>
		<string>Fit</string>
	</dict>
	<key>Preferences</key>
	<dict>
		<key>BaseUrl</key>
		<string>http://omnomnom.1.doubleb-automation-production.appspot.com/</string>
		<key>CompanyColor</key>
		<string>#95BF0A</string>
		<key>CompanyGAKey</key>
		<string>UA-57935469-17</string>
		<key>Parse</key>
		<dict>
			<key>applicationId</key>
			<string>TwbtMft7dHZfMsW4RluaOSwJR5EXihajB8mznb3Y</string>
			<key>clientKey</key>
			<string>VZxeXYu3KlSiQZgxVIi0oWlmMKp6Rx1Y8MHK3xiP</string>
		</dict>
	</dict>
	<key>ViewControllers</key>
	<dict>
		<key>MenuViewControllers</key>
		<string>Nested</string>
	</dict>
</dict>
</plist>
