<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppConfiguration</key>
	<dict>
		<key>MenuPositionIconsContentMode</key>
		<string>Fit</string>
		<key>MenuCategoryIconsContentMode</key>
		<string>Fit</string>
	</dict>
	<key>ViewControllers</key>
	<dict>
		<key>MenuViewControllers</key>
		<string>Nested</string>
	</dict>
	<key>Preferences</key>
	<dict>
		<key>BaseUrl</key>
		<string>http://sushilar.1.doubleb-automation-production.appspot.com/</string>
		<key>CompanyColor</key>
		<integer>4288661069</integer>
		<key>CompanyGAKey</key>
		<string>UA-57935469-3</string>
		<key>Parse</key>
		<dict>
			<key>applicationId</key>
			<string>cNj2NYzRp5h6YN2xJ8zQKIjxOajLeLxv6DBdbTA7</string>
			<key>clientKey</key>
			<string>vqJdIVhrpTUgphFX2Rpbhbd6qJcwWKn35ReuOdYS</string>
		</dict>
	</dict>
</dict>
</plist>
