<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Preferences</key>
	<dict>
		<key>BaseUrl</key>
		<string>http://coffeesnack.1.doubleb-automation-production.appspot.com/</string>
		<key>CompanyColor</key>
		<integer>4292559915</integer>
		<key>CompanyGAKey</key>
		<string>UA-62529990-25</string>
		<key>Parse</key>
		<dict>
			<key>applicationId</key>
			<string>4YgNDVaO1VKYelnaE9RTzJAdofiSn3N2Y5xt44wD</string>
			<key>clientKey</key>
			<string>vD6ZPXn7hEcCTIizGz9vYzO0Xx2fXbNwxx3TegbM</string>
		</dict>
	</dict>
</dict>
</plist>
