<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Preferences</key>
	<dict>
		<key>VKAppId</key>
		<string>5055279</string>
		<key>BaseUrl</key>
		<string>http://redcup.1.doubleb-automation-production.appspot.com/</string>
		<key>CompanyColor</key>
		<string>#ac1a40</string>
		<key>CompanyGAKey</key>
		<string>UA-62529990-36</string>
		<key>Parse</key>
		<dict>
			<key>applicationId</key>
			<string>ub5EOJeYGYNgaXtobu2QmlrRHB58D4cLMbKYEVOF</string>
			<key>clientKey</key>
			<string>DoVDTYuQzW0H8Pg9tbfAp4ZHO3ypVQJKd6Za4bvv</string>
		</dict>
	</dict>
</dict>
</plist>
