<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppConfiguration</key>
	<dict>
		<key>MenuPositionIconsContentMode</key>
		<string>Fit</string>
		<key>MenuCategoryIconsContentMode</key>
		<string>Fit</string>
	</dict>
	<key>Preferences</key>
	<dict>
		<key>BaseUrl</key>
		<string>http://mivako.1.doubleb-automation-production.appspot.com/</string>
		<key>CompanyColor</key>
		<string>#bd4723</string>
		<key>CompanyGAKey</key>
		<string>UA-57935469-6</string>
		<key>Parse</key>
		<dict>
			<key>applicationId</key>
			<string>qY11g5LJ3RQlBiRT6kRJbrOnJvdPyh7ErTuwt0Vr</string>
			<key>clientKey</key>
			<string>52yVQi45hIZ9JXMPrlbPbZAMzj1Rey7GPuEvrXqH</string>
		</dict>
	</dict>
	<key>ViewControllers</key>
	<dict>
		<key>MenuViewControllers</key>
		<string>Nested</string>
	</dict>
</dict>
</plist>
