<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewControllers</key>
	<dict/>
	<key>Preferences</key>
	<dict>
		<key>BaseUrl</key>
		<string>http://pizzapichi.1.doubleb-automation-production.appspot.com/</string>
		<key>CompanyColor</key>
		<integer>4291374892</integer>
		<key>CompanyGAKey</key>
		<string>UA-65821587-44</string>
		<key>Parse</key>
		<dict>
			<key>applicationId</key>
			<string>klCcZr7mnacqTCWQtlSGHRXYkXpLsrHRERhqjaLZ</string>
			<key>clientKey</key>
			<string>j0o9HzZVNNBORVRkuzzRnLLXxdQ1Ero8D2lp7YI1</string>
		</dict>
	</dict>
</dict>
</plist>
