<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Preferences</key>
	<dict>
		<key>BaseUrl</key>
		<string>http://chikarabar.1.doubleb-automation-production.appspot.com/</string>
		<key>CompanyColor</key>
		<integer>4293939491</integer>
		<key>CompanyGAKey</key>
		<string>UA-62529990-30</string>
		<key>Parse</key>
		<dict>
			<key>applicationId</key>
			<string>gAEWvLVUBqP85yRQmvm6nVhyTyurbaJYQSFQtRve</string>
			<key>clientKey</key>
			<string>ZWmLhzBhfIL5L5M0a90WTMrrlWCVr4RVg4WleyV2</string>
		</dict>
	</dict>
</dict>
</plist>
