<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewControllers</key>
	<dict/>
	<key>Preferences</key>
	<dict>
		<key>BaseUrl</key>
		<string>http://mycompany.test2.doubleb-automation-production.appspot.com/</string>
		<key>CompanyColor</key>
		<integer>4278214478</integer>
		<key>CompanyGAKey</key>
		<string>UA-65821587-48</string>
		<key>Parse</key>
		<dict>
			<key>applicationId</key>
			<string>3AEOHApc3gEE9aWwafr0iDIIwVpVH370auXAfqnk</string>
			<key>clientKey</key>
			<string>3wU53Rm7NewVVyqyfrnBcjLHaHd72K1U41RrEAi7</string>
		</dict>
	</dict>
</dict>
</plist>
