<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppConfiguration</key>
	<dict>
		<key>MenuPositionBasketImage</key>
		<string>basket</string>
	</dict>
	<key>ViewControllers</key>
	<dict>
		<key>MenuViewControllers</key>
		<string>Mixed</string>
	</dict>
	<key>Preferences</key>
	<dict>
		<key>Parse</key>
		<dict>
			<key>applicationId</key>
			<string>OaXWbTHbsAVICMw6juzVS4T5GdhtgKD8i6MMPcX5</string>
			<key>clientKey</key>
			<string>zI6XvcbA4apxFlhzkE9z06EKrmGYw1bqzA8PM0KB</string>
		</dict>
		<key>BaseUrl</key>
		<string>http://mycompany.balaban.doubleb-automation-production.appspot.com/</string>
		<key>CompanyColor</key>
		<integer>4293962270</integer>
		<key>CompanyGAKey</key>
		<string>UA-65821587-48</string>
	</dict>
</dict>
</plist>
