<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppConfiguration</key>
	<dict>
		<key>MenuPositionIconsContentMode</key>
		<string>Default</string>
		<key>MenuCategoryIconsContentMode</key>
		<string>Default</string>
	</dict>
	<key>Preferences</key>
	<dict>
		<key>BaseUrl</key>
		<string>http://presidetcafe.1.doubleb-automation-production.appspot.com/</string>
		<key>CompanyColor</key>
		<string>#C74E45</string>
		<key>CompanyGAKey</key>
		<string>UA-73114524-5</string>
		<key>Parse</key>
		<dict>
			<key>applicationId</key>
			<string>cNj2NYzRp5h6YN2xJ8zQKIjxOajLeLxv6DBdbTA7</string>
			<key>clientKey</key>
			<string>vqJdIVhrpTUgphFX2Rpbhbd6qJcwWKn35ReuOdYS</string>
		</dict>
	</dict>
	<key>ViewControllers</key>
	<dict>
		<key>MenuViewControllers</key>
		<string>Mixed</string>
	</dict>
</dict>
</plist>
