<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Preferences</key>
	<dict>
		<key>BaseUrl</key>
		<string>http://automation-demo.appspot.com/</string>
		<key>CompanyColor</key>
		<integer>4285150221</integer>
		<key>CompanyGAKey</key>
		<string>UA-62529990-41</string>
		<key>Parse</key>
		<dict>
			<key>applicationId</key>
			<string>DId4pGbcAY4eJzWqgmImEgeIKQ1PBBhXqyrGfaa4</string>
			<key>clientKey</key>
			<string>4555WZ33iZAk6L4iFwI16Ppp3x7IdQw93CiRsxDA</string>
		</dict>
	</dict>
</dict>
</plist>
